body{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
}

.header{
    height: 2.5rem;
    background-color: rgb(5, 242, 255);
    position: fixed;
}

.containerLeft{
    background-color: red;
    height: 12.5rem;
    width: 12.5rem;
    font-weight: 700;
    color: white;
}
.containerMiddle{
    background-color: rgb(217, 0, 255);
    margin-left: 12.5rem;
    height: 12.5rem;
    width: 12.5rem;
}
.containerRight{
    background-color: rgb(0, 255, 89);
    margin-left: 25rem;
    height: 12.5rem;
    width: 12.5rem;
}

.task{
    position: relative;
    left: 50%;
    margin-bottom: 3rem;
}

.red{
    height: 6.25rem;
    width: 6.25rem;
    background-color: red;
    position: relative;
    left: 13.1rem;
    display: inline-block;
}
.blue{
    height: 6.25rem;
    width: 6.25rem;
    background-color: blue;
    position: relative;
    right: 6.25rem;
    display: inline-block;
}
.yallow{
    height: 6.25rem;
    width: 6.25rem;
    background-color: yellow;
    position: relative;
    right: 6.25rem;
    display: inline-block;
}

.red1{
    height: 6.25rem;
    width: 6.25rem;
    background-color: red;
    position: absolute;
    left: 12.5rem;
    bottom: -36.75rem;
}
.blue1{
    height: 6.25rem;
    width: 6.25rem;
    background-color: blue;
    position: absolute;
    left: 6.25rem;
    bottom: -30.50rem;
}
.yellow1{
    height: 6.25rem;
    width: 6.25rem;
    background-color: yellow;
    position: absolute;
    bottom: -24.1rem;
}